.auth {
    width: 100%;
    height: 100vh;
    display: flex;
}

.auth-left {
    width: 50%;
    height: 100%;
    position: relative;
    background-color: var(--primary);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.auth-left > img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    height: 100%;
    min-width: 100%;
    opacity: .3;
    mask-image: linear-gradient(white, transparent 90%);
}

.auth-back {
    display: none;
}

.auth-left-instruction {
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36vh;
    width: 312px;
    gap: 6px;
    text-align: center;
}

.auth-left-instruction > span:first-child,
.auth-left-instruction > span:nth-child(2) {
    font-size: .72rem;
    font-family: TitilliumWeb;
    font-weight: 800;
}

.auth-left-instruction > span:nth-child(2) {
    font-size: 2.2rem;
    line-height: 3.12rem;
    margin-top: -8px;
}

.auth-left-instruction > span:nth-child(3) {
    font-size: .72rem;
    font-weight: 300;
    margin-top: -8px;
}

.auth-left-instruction-block,
.auth-left-instruction-block-active {
    width: 100%;
    display: flex;
    height: 40px;
    border-radius: 4px;
    align-items: center;
    font-size: .6rem;
    gap: 12px;
    background-color: rgb(255, 255, 255, .4);
    padding: 0 12px;
}

.auth-left-instruction > div:nth-child(4) {
    margin-top: 12px;
}

.auth-left-instruction-block-active {
    background-color: white;
    color: rgb(60, 60,60);

    span:first-child {
        width: 16px;
        height: 16px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: rgb(60, 60,60);
    }
}

.auth-form-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 56px;
}

.auth-form { 
    width: 80%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.auth-form > span:first-child { 
    font-size: 1.12rem;
    font-weight: 600;
}

.auth-form > span:nth-child(2) {
    font-size: .66rem;
}

.auth-form-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.auth-role {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 12px;
}

.auth-role-checkbox {
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 18px;
    gap: 18px;
    font-size: .8rem;
    /* border: 1px solid var(--primary); */
    box-shadow: 0 0 2px rgba(60, 60, 60, 0.794);
    border-radius: 4px;
    cursor: pointer;
}

.auth-role-checkbox:hover {
    box-shadow: 0 0 2px rgba(139, 14, 14, 0.805);
}

.auth-role-checkbox > div:first-child {
    width: 12px;
    height: 12px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid rgb(122, 122, 122);
}

.auth-role-checkbox > div:nth-child(2) {
    display: flex;
    gap: 8px;
    align-items: center;
    color: rgb(73, 73, 73);

    span:first-child {
        display: flex;
    }

    span:last-child {
        font-size: .6rem;
    }
}

.checkbox-fill {
    background-color: var(--primary);
    border: none;
}

.auth-input-field {
    position: relative;
    width: 100%;
}

.auth-input-field > label {
    position: absolute;
    font-size: .6rem;
    color: rgb(97, 97, 97);
    background-color: var(--background);
    translate: 0 -50%;
    left: 8px;
    padding: 0 12px;
}

.auth-input-field > input {
    width: 100%;
    font-size: .68rem;
    padding: 16px 18px;
    border: none;
    box-shadow:  0 0 2px rgb(47, 47, 47);
    border-radius: 4px;
    outline: none;
}

.auth-input-field > input:focus::placeholder {
    visibility: hidden;
}

.auth-input-field > input::placeholder {
    color: rgb(122, 122, 122, .6);
}

.auth-input-icon{
    position: absolute;
    right: 8px;
    top: 50%;
    translate: 0 -50%;
    display: flex;
    font-size: .88rem;
    cursor: pointer;
    padding: 4px;
    color: rgb(122, 122, 122);
}

.auth-btn {
    width: 100%;
    font-size: .62rem;
    border: none;
    margin-top: 6px;
    background-color: var(--primary);
    color: white;
    height: 44px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Poppins;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-btn-loading {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border-left: 2px solid white;
    border-right: 2px solid white;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.forgot-password {
    font-size: .55rem;
    align-self: flex-end;
    margin-top: -4px;
    color: var(--primary);
    cursor: pointer;
}

.auth-form-main > span:last-child {
    font-size: .55rem;
    align-self: center;
    cursor: pointer;
}

.auth-form-main > span:last-child:hover {
    color: var(--primary);
}

@media screen and (max-width: 600px) {
    .auth-left {
        /* display: none; */
        position: absolute;
        width: 100%;
    }

    .auth-left-instruction { 
        display: none;
    }

    .auth-form-container {
        width: 100%;
        height: 76%;
        align-self: flex-end;
        background-color: white;
        position: relative;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .auth-form {
        width: 88%;
    }

    .auth-input-field > input {
        box-shadow:  0 0 2px rgb(47, 47, 47, .3);
    }

    .auth-back {
        display: flex;
        position: absolute;
        left: 20px;
        width: 32px;
        height: 32px;
        background-color: white;
        color: var(--primary);
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        top: 20px;
        z-index: 1;
    }
}