.courses-page,
.course-content-page,
.add-course-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.courses-page-hdr {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.courses-page-hdr-filter {
    font-size: .54rem;
    font-weight: 400;
    display: flex;
    gap: 1.2rem;
}

.filter-item,
.active-filter-item {
    padding: 4px 20px;
    cursor: pointer;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 20px;
    text-transform: capitalize;
}

.active-filter-item {
    background-color: #c58b8b;
    color: var(--primary);
    font-weight: 500;
    border-color: var(--primary);
}

.add-course-btn {
    width: 160px;
    height: 100%;
    border: none;
    background-color: var(--primary);
    color: white;
    font-size: .6rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 2px;
}

.courses-grid-container {
    width: 100%;
    height: calc(100% - 44px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.courses-grid-inner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 8px;
    height: fit-content;
}

.sentinelRef {
    width: 100%;
    height: 1px;
}

.bottom-loader {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
}

.bottom-loader > div {
    width: 24px;
    height: 24px;
    border: 4px solid #c58b8b;
    border-top-color: var(--primary);
    border-radius: 50%;
    animation: spin .6s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.course-card {
    width: 100%;
    height: 222px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    box-shadow:  0 0 3px rgba(167, 167, 167, 0.594);
}

.course-card-thumbnail,
.thumbnail-placeholder {
    width: 100%;
    height: 138px;
    /* height: 60%; */
    background-color: #8d8c8c;
    overflow: hidden;
}

.course-card-thumbnail > img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    font-size: .72rem;
}

.thumbnail-placeholder {
    background-color: #7e3838c3;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
        filter: brightness(0) invert(1);
        width: 20%;
        object-fit: cover;
        object-position: center center;
        max-width: 120px;
        opacity: .8;
    }
}


.thumbnail-placeholder::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: conic-gradient(from 90deg at 1px 1px,transparent 90deg, rgba(255, 255, 255, 0.07) 0) 0 0/32px 32px;
}


.loading-thumbnail {
    animation: blink 2s ease-in-out infinite;
}

.course-card-details {
    width: 100%;
    height: calc(100% - 138px);
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 16px;
}

.course-card-details > span:first-child {
    font-size: .55rem;
}

.course-card-details > span:nth-child(2) {
    font-size: .8rem;
    font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    height: 22px;
}

.course-card-details-middle {
    display: flex;
    width: 100%;
    font-size: .6rem;
    justify-content: space-between;
    align-items: center;
}

.course-card-details-middle > div {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 6px;
     
    span:first-child {
        display: flex;
        font-size: .88rem;
    }
}

/* Pre course card */

.pre-course-card-thumbnail {
    width: 100%;
    height: 180px;
    background-color: #8d8c8c;
}

.pre-course-card-details {
    width: 100%;
    height: calc(100% - 180px);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 8px 16px;
} 

.pre-course-card-details > span:first-child {
    width: 40%;
    height: 4px;
    background-color: #8d8c8c;
    border-radius: 12px;
    animation: blink 2s ease-in-out infinite;
}

.pre-course-card-details > span:nth-child(2) {
    width: 80%;
    height: 8px;
    background-color: #8d8c8c;
    border-radius: 12px;
    animation: blink 2s ease-in-out infinite;
}

.pre-course-card-details-btm {
    background-color: #8d8c8c;
    width: 100%;
    height: 4px;
    border-radius: 12px;
    margin-top: 40px;
    animation: blink 2s ease-in-out infinite;
}

@keyframes blink {
    0%, 100% {
        filter: brightness(100%);
    }

    50% {
        filter: brightness(80%);
    }
}

.course-content-page {
    overflow-y: auto;
}

.course-page-content-inner {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.course-content-page-hdr {
    width: 100%;
    display: flex;
    min-height: 252px;
    position: relative;
    justify-content: space-between;
}

.course-content-page-hdr-cnt {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.course-content-page-hdr-cnt > span:nth-child(1) {
    font-size: .6rem;
    background-color: var(--primary);
    mask-image: linear-gradient(90deg, white, white, transparent);
    width: fit-content;
    padding: 3px 8px;
    padding-right: 48px;
    color: white;
}

.course-content-page-hdr-cnt > span:nth-child(2) {
    font-size: clamp(1.48rem, 2.32vw, 2rem);
    font-weight: 500;
}

.course-content-page-hdr-cnt > span:nth-child(3) {
    font-size: .69rem;
}

.course-content-page-hdr-cnt-tutor {
    display: flex;
    align-items: center;
    margin-top: 4px;
    gap: 12px;
    font-size: .66rem;
    font-weight: 500;
    /* align-self: flex-end; */
    color: #454545;
}

.course-content-page-hdr-cnt-tutor > div:first-child {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #8d8c8c;
}

.course-content-page-hdr-btns {
    display: flex;
    /* gap: 28px; */
    margin-top: 12px;
    align-items: center;
    justify-content: space-between;
}

.course-content-page-hdr-btns > button {
    border: none;
    border-radius: 2px;
    width: 200px;
    height: 40px;
    font-size: .6rem;
    cursor: pointer;
    color: white;
    font-weight: 600;
    background-color: var(--primary);
}

.course-content-page-hdr-btns > div {
    font-size: .6rem;
    border: 1px solid rgba(65, 65, 65, 0.883);
    padding: 4px 20px;
    border-radius: 20px;
}

.course-content-page-hdr-thumbnail {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 6px;
    right: 0;
}


.course-content-page-body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-top: 1px solid rgba(66, 13, 13, 0.345);
    padding-top: 8px;
}

.course-content-modules-hdr {
    display: flex;
    gap: 40px;
    /* align-items: flex-end; */
    align-items: center;
}

.course-content-modules-hdr > span:first-child {
    font-size: 1.28rem;
    font-weight: 500;
}

.course-content-modules-hdr > span:last-child {
    font-size: .72rem;
    margin-top: 2px;
}

.course-content-modules {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 2px;
}

.course-module {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px rgb(55, 54, 54);
    border-radius: 4px;
    cursor: pointer;
}



.course-module-topic {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
}

.course-module-topic > div:first-child {
    display: flex;
    gap: 10px;
    font-size: .88rem;
    font-weight: 500;
}

.course-module-topic > span:last-child {
    font-size: .8rem;
}

.module-open {
    background-color: rgb(232, 232, 232);
    color: rgb(80, 33, 33);
}

.course-module-content { 
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: .72rem;
}

.course-module-content-item {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.course-module-content-item:nth-of-type(even) {
    background-color: rgb(232, 232, 232);
}

.course-module-content-item > div:last-child {
    display: flex;
    gap: 12px;
    align-self: center;

    span:first-child {
        font-size: .66rem;
    }

    span:last-child {
        font-size: .8rem;
        display: flex
    }
}

/* .add-course-page {} */

.add-course-page-title {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 20px;
}

.add-course-page-title > span:first-child {
    display: flex;
    cursor: pointer;
}

.add-course-page-cnt {
    width: 100%;
    height: calc(100% - 44px);
    background-color: rgb(240, 240, 240);
    border-radius: 12px;
    padding: 20px 16px;
    box-shadow: 0 0 2px rgba(122, 122, 122, 0.474);
    /* 0 0 2px rgba(122, 122, 122, 0.474) inset; */
    overflow: auto;
    padding-bottom: 12px;
}

.add-course-page-cnt::-webkit-scrollbar {
    background-color: transparent;
    margin-right: 12px;
    width: 10px;
}

.add-course-page-cnt::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #575757;
    border-radius: 12px;
}


.add-course-form {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.add-course-input,
.add-course-modules,
.add-course-module-title {
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.add-course-input > span,
.add-course-modules > span:first-child,
.add-course-module-title > span:first-child {
    display: flex;
    margin-top: 12px;
    /* fon */
}

.add-course-input > input,
.add-course-input > textarea,
.add-course-module-title > input {
    height: 44px;
    border: none;
    width: calc(100% - 32px);
    font-size: .72rem;
    padding: 0 16px;
    box-shadow: 0 0 2px rgba(65, 65, 65, 0.3);
    border-radius: 4px;
    font-family: Poppins;
    outline: none;
}

.add-course-input > input:focus, 
.add-course-input > textarea:focus,
.add-course-module-title > input:focus {
    box-shadow: 0 0 2px rgba(127, 18, 18, 0.476);
    border: 1px solid rgba(127, 18, 18, 0.476);
}

.add-course-input > input[type="file"] {
    display: flex;
    padding: 12px 16px;
    background-color: white;
}

.add-course-input > textarea {
    height: 180px;
    padding: 10px 16px;
}

.add-course-modules > span:first-child {
    color: #b55050;
    height: fit-content;
    margin-top: 2px;
    font-size: 1.24rem;

}

.add-course-modules-item {
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 12px 16px;
    box-shadow: 0 0 2px rgba(65, 65, 65, 0.3);
    border-radius: 4px;
    gap: 12px;
    padding-bottom: 20px;
}

.add-course-modules-list {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.add-course-module-title > input {
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 2px rgba(65, 65, 65, 0.3) inset;
    border-radius: 4px;
}

.add-course-module-title > input:focus {
    box-shadow: 0 0 2px rgba(127, 18, 18, 0.476);
    border: 1px solid rgba(127, 18, 18, 0.476);
}

.add-course-modules-list-cnt {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100% !important;
}

.add-course-modules-list-cnt > span:first-child{
    color: #b55050;
    height: fit-content;
    margin-top: -2px;
    font-size: 1.24rem;
}

.add-course-modules-list-cnt > input {
    height: 36px;
    border: none;
    font-size: .66rem;
    outline: none;
    padding: 0 16px;
    font-family: Poppins;
    width: 100%;
    align-self: flex-end;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 2px rgba(65, 65, 65, 0.3) inset;
    border-radius: 4px;
}

.add-course-modules-list-cnt > input:focus {
    box-shadow: 0 0 2px rgba(127, 18, 18, 0.476);
    border: 1px solid rgba(127, 18, 18, 0.476);
}

.add-course-modules-list-cnt > button {
    height: 36px;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 2px;
    background-color: #575757;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .72rem;
    cursor: pointer;
}



.add-course-modules-btn {
    /* align-self: flex-end; */
    display: flex;
    gap: 20px;
}

.add-course-modules-btn > button {
    width: 154px;
    cursor: pointer;
    height: 32px;
    font-size: .64rem;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 2px rgb(122, 122, 122) inset;
}

.add-course-modules-btn > button:last-child {
    background-color: #b55050;
    color: white;
}

.add-course-module-btn {
    width: 154px;
    cursor: pointer;
    height: 32px;
    font-size: .64rem;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    align-self: flex-end;
    background-color: var(--primary);
    color: white;
}

.add-course-form-btn {
    display: flex;
    gap: 20px;
    align-self: flex-end;
}

.add-course-form-btn > button {
    width: 168px;
    cursor: pointer;
    height: 40px;
    font-size: .66rem;
    font-weight: 500;
    border: none;
    color: white;
    border-radius: 4px;
    box-shadow: 0 0 2px rgb(122, 122, 122) inset;
}

.add-course-form-btn > button:first-child {
    background-color: var(--primary);
}

.add-course-form-btn > button:last-child {
    background-color: rgb(122, 122, 122);
}

@media screen and (max-width: 600px) {
    .courses-grid-inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .course-content-page-hdr {
        display: flex;
        flex-direction: column-reverse;
        gap: 12px;
    }

    .course-content-page-hdr-cnt {
        width: 100%;
    }
    
    .course-content-page-hdr-thumbnail {
        position: relative;
        width: 100%;
        height: 262px;   
    }
}