*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body, #root {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  top: 0;
}

#root {
  --primary: #DC2626;
  --secondary: #7e3838;
  --background: #ffffff;
  --text: #262525;
  --navbar-background: white;
}


.app[data-theme="dark"] {
  --background: #0A0A12;
  --text: white;
}

.app {
  width: 100%;
  min-height: 100vh;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--text);
  position: relative;
  gap: 16px;
  overflow: hidden;
}

img {
  pointer-events: none;
}

@media screen and (max-width: 600px) {}